.appview-container {
  background: #26221f;
}

.appview-container .main {
  overflow: hidden;
}

.block-container {
  max-width: none;
  padding: 0;
}

.element-container iframe {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
}
